# Dataset Preparation

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_1 = pd.read_csv('joined.csv')
df_1.drop(['facebookUrl',
           'feedbackId', 
           'id', 
           'postUrl', 
           'reactionCount', 
           'userId', 
           'userIsVerified', 
           'userName', 
           'userProfileImageUrl', 
           'userSubscribeStatus', 
           'userUrl',
           'commentDate'],
           axis = 1, inplace = True)
df_1['comment'] = df_1['commentText']
df_1.drop('commentText', axis = 1, inplace = True)
df_1.head()

  userGender                                            comment
0       MALE  This is interfering an internal matter of a so...
1     FEMALE                 Justice sa pagkamatay ni marcosüòîüñïüèª
2     FEMALE  Walang name rodrigo roa duterte sa 2 website n...
3     FEMALE  Kathang isip nyo lng Yan wag nyo Ng pagtakpan ...
4     FEMALE                                                üôèüôèüôè

In [3]:
df_2 = pd.read_csv('rappler.csv')
df_2.drop(['action_id',
           'author_avatar',
           'author_profile_url',
           'author_user_id',
           'author_username',
           'comment_id',
           'input',
           'like_count',
           'post/author_avatar', 
           'post/author_profile_url',
           'post/author_user_id', 
           'post/author_username', 
           'post/post_id',
           'post/post_url',
           'reply_count',
           'create_time'], 
           axis = 1, inplace = True)

df_2['userGender'] = df_2['gender']
df_2['comment'] = df_2['text']
df_2.drop(['gender', 'text'], axis = 1, inplace = True)
df_2.head()

  userGender                                            comment
0     NEUTER  You can download the Rappler Communities app h...
1       MALE  It is about time to answer whether former pres...
2     FEMALE  Philippines has not produced a good leader eve...
3     FEMALE  Whatever you do to others will come back to yo...
4     FEMALE  Honestly, I feel sorry for him(because of his ...

In [4]:
df = pd.concat([df_1, df_2], axis = 0)
df = df[~df['userGender'].str.contains('NEUTER', na=False)]
df = df[~df['userGender'].str.contains('UNKNOWN', na=False)]
df

    userGender                                            comment
0         MALE  This is interfering an internal matter of a so...
1       FEMALE                 Justice sa pagkamatay ni marcosüòîüñïüèª
2       FEMALE  Walang name rodrigo roa duterte sa 2 website n...
3       FEMALE  Kathang isip nyo lng Yan wag nyo Ng pagtakpan ...
4       FEMALE                                                üôèüôèüôè
..         ...                                                ...
495       MALE                         No one is above the law!!!
496     FEMALE                  ‚ÄòAbout time justice to be served!
497       MALE  Long over due. Let him felt what others felt b...
498       MALE  He must be given a fair chance in the court, i...
499     FEMALE  His name is not on the list n ICC website\n.ba...

[1089 rows x 2 columns]

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = df['userGender']
y = df['comment']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.50, random_state = 101)

In [7]:
train = pd.DataFrame({'userGender':X_train,'comment':y_train}, )
test = pd.DataFrame({'userGender':X_test,'comment':y_test})

In [8]:
train.reset_index().to_excel('training.xlsx')

In [9]:
test.reset_index().to_excel('validation.xlsx')